*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    overflow: hidden;
    background: #f2f2f2;
}
#click{
    display: none;
}

label{
    position: absolute;
    font-size: 20px;
    right: 30px;
    bottom: 20px;
    height: 55px;
    width: 55px;
    background: -webkit-linear-gradient(left, #479c0f, #5dfa14 );
    text-align: center;
    line-height: 56px;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
}

label i{
    position: absolute;
    text-align: center;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: all 0.4s ease;
}

label i.fas{
    opacity: 1;
    pointer-events: none;
}

#click:checked ~label i.fas{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 50%) rotate(180deg);
}

#click:checked ~label i.fab{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 50%) rotate(180deg);

}

.contain{
    background: #fff;
    position: absolute;
    right: 120px;
    bottom: 0px;
    max-width: 400px;
    border-radius: 15px;    
    box-shadow: 0 150px 20px rgba (0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

#click:checked ~ .contain{
    opacity: 1;
    bottom: 85px;
    pointer-events: auto;
}

.contain .heading{
    color: #fff;
    border-radius: 15px, 15px, 0, 0;
    background: -webkit-linear-gradient(left, #479c0f, #5dfa14 );
    line-height: 60px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 200px;
}

.contain .chatbox{
    padding: 30px;
    width: 100%;
}

.chatbox .text{
    color: #515356;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
}

.chatbox form{
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 25px;
    border: 1px solid lightgrey;
 }

 .chatbox form .field{
     height: 50px;
     width: 100%;
     margin-top: 10px;
 }

 .chatbox form .field:last-child{
     margin-bottom: 15px;
 }

 form .field input,
 form .field button,
 form .textarea textarea{
     padding-left: 20px;
     border: 1px solid lightslategray;
     width: 100%;
     height: 100%;
     outline: none;
     border-radius: 25px;
     font-size: 16px;
     transition: all 0.3s ease;
 }
 
 form .field input::placeholder,
 form .textarea textarea::placeholder{
     color: silver;
     transition: all 0.3s ease;
 }

 form .field input:focus,
 form .textarea textarea:focus{
     border-color: #91fc83;
 }

 form .field input:focus::placeholder,
 form .textarea textarea:focus::placeholder{
      color: lightslategray;
 }

 form .textarea{
     height: 70px;
     width: 100%;
 }

 .chatbox form .textarea textarea{
     height: 100%;
     border-radius: 50px;
     resize: none;
     padding: 15px, 20px;
     font-size: 16px;
 }

 .chatbox form .field button{
        border: none;
        cursor: pointer;
        color: #fff;
        padding-left: 0px;
        font-size: 18px;
        font-weight: 500;
        background: -webkit-linear-gradient(left, #5dfa14,#479c0f );
        transition: all 0.3s ease;
 }

 .chatbox form .field button:active{
        transform: scale(0.97);
 }